extends layout

block content
  h1 Companies
  each company in companies
    a(href='/companies/' + company.id) #{company.name}
    - var books = company.books
    each book in books
      li #{book.title}

  br
  p Register your company 
    a(href='/companies/new') here
