extends layout

block content
  form(method='POST' action='/owners')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='FirstName LastName' name='name')
    div.form-group
      label(for='city') City:
      input#city.form-control(type='text', placeholder='' name='city')
    div.form-group
      label(for='country') Country:
      input#country.form-control(type='text', placeholder='' name='country')
    button.btn.btn-primary(type='submit') Create
